{% extends 'google_doubleganger_app/base.html' %}
{% load static %}

{% block title %}Google{% endblock %}

{% block content %}

  <main class="main-content">
    <img src="{% static 'google-logo.png' %}" alt="Google" class="google-logo" />
    
    <!-- BONUS-->
    <form class="search-form" action="https://www.google.com/search" method="GET" target="_blank">
      
      <div class="search-bar">
        <span class="material-icons search-icon">search</span>

        <input type="text" name="q" class="search-input" autocomplete="off" aria-label="Search" />

        <div class="search-icons-right">
          <img src="{% static 'camera.png' %}" alt="Camera" class="camera-icon-img">
          <img src="{% static 'microphone.png' %}" alt="Microphone" class="mic-icon-img">
        </div>
      </div>

      <div class="search-buttons">
        <button type="submit" class="btn-search">Google Search</button>
        <button type="button" class="btn-search">I'm Feeling Lucky</button>
      </div>
    </form>

    <p class="language-note">Google offered in: <a href="#">العربية</a></p>
  </main>
</div>
{% endblock %}